#todoList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px black;
    gap: 30px;
    padding: 20px;
    text-align: center;
    background-color: aquamarine;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: center;

    background-color: aqua;
    padding: 20px;
}

#tarea_input{
    height: 25px;

}

#agregar{
    border-radius: 5px;
    background-color: greenyellow;
    height: 31px;
    width: 100px;
}

#resumen-centrado{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content:space-evenly;
}

#resumen{
    height: 200px;
    width: 300px;
    border: solid 3px black;
}

#resumen-2{
    height: 200px;
    width: 800px;
    border: solid 3px black;    
}
